.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: aliceblue;
}

.modal-button {
  height: 2rem;
  width: 9rem;
  border: none;
  background-color: blueviolet;
  border-radius: 5px;
}

.no-button {
  height: 2.5rem;
  width: 5rem;
  border: none;
  background-color: rgb(235, 93, 93);
  color: white;
  border-radius: 5px;
}

.a-row {
  height: 3rem;
  width: 100%;
}

.b-row {
  width: 100%;
}

.c-row {
  width: 100%;
}

.column1-2 {
  height: 12rem;
  flex-direction: column;
  flex-basis: 50%;
}

.just-c {
  display: flex;
  justify-content: center;
}

.align-c {
  display: flex;
  align-items: center;
}
