.container-div {
  min-height: 100vh;
  min-width: 100vw;
}

.survey-button {
  border: 1px solid;
  height: 3rem;
  width: 6rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(74, 74, 233);
}

.no-button {
  height: 2rem;
  width: 6rem;
  background-color: rgb(235, 93, 93);
  color: white;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: lightpink;
  border: 5px solid white;
  border-radius: 10px;
}

.hidden {
  display: none;
}
