.all-caps {
  text-transform: uppercase;
}

.row {
  display: flex;
}

.button-row {
  flex-basis: 100%;
}

.column-half {
  display: flex;
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

.salmon {
  color: rgb(209, 76, 69);
}
