#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 45rem;
  border: 2px solid black;
}
