.row {
  display: flex;
  flex-wrap: warp;
  flex-basis: 100%;
}

.flex-row {
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}

.column1 {
  size: auto;
  flex-basis: 100%;
  aspect-ratio: 16/9;
}

.column1-2 {
  flex-basis: calc(100% / 2);
  display: flex;
  justify-content: space-around;
}

.column3-4 {
  flex-basis: calc((100% / 4) * 3);
}

.column1-5 {
  flex-basis: calc(100% / 5);
}

.button {
  border: none;
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
}

.blue-back {
  color: white;
  background-color: rgb(41, 68, 100);
}

.footer {
  background-color: rgb(82, 83, 81);
}

.hero {
  background-image: url('images/hero.jpg');
}
