* {
  font-family: 'Tiempos Headline', serif;
}

.avenir {
  font-family: Avenir, sans-serif;
}

.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

.row {
  display: flex;
}

.nav-row {
  display: flex;
}

.column-full {
  display: flex;
  flex-basis: 100%;
  aspect-ratio: 16/9;
  background-image: url('./images/hero.jpg');
  background-repeat: no-repeat;
}

.column1-2 {
  flex-basis: calc(100% / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-left: 3rem;
}

.graphic-row {
  flex-direction: row;
}

.pr-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pr-sub-row {
  flex-direction: row;
}

.navcolumn2-3 {
  display: flex;
  flex-direction: row;
}

.column1-5 {
  flex-direction: row;
}

.column2-3 > h1 {
  justify-content: center;
  text-align: center;
}

.column1-3 {
  flex-basis: calc(100% / 3);
}

.column2-3 {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% / 3) * 2);
}

.nav-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-button {
  border: none;
  background-color: white;
  color: rgb(176, 176, 176);
}

.blue-back {
  color: white;
  background-color: rgb(41, 68, 100);
  border-radius: 5px;
}

.nav-margin {
  margin: 2.5rem;
}

.column1-3 > img {
  height: 1.5rem;
  width: auto;
  margin-left: 1rem;
}

.graphic-row > button {
  height: 2.5rem;
  width: auto;
}

.grey-text {
  color: rgb(110, 110, 110);
}

.white-text {
  color: white;
}

.graphic-row > p {
  line-height: 1.75rem;
}

.loc-row {
  display: flex;
  margin: 2rem auto;
}

.loc-column1-2 {
  flex-basis: calc(100% / 2);
  flex-direction: column;
  margin-left: 2rem auto;
  justify-content: center;
}

.c-text {
  text-align: center;
}

.rdy-row {
  display: flex;
  flex-direction: row;
}

.rdy-column3-4 {
  flex-direction: column;
  margin-left: 5rem;
  flex-basis: calc((100% / 5) * 3);
}

.rdy-column1-4 {
  display: flex;
  flex-basis: calc(100% / 4);
  align-items: center;
  justify-content: flex-end;
}

.rdy-column1-4 > button {
  height: 2.5rem;
  width: auto;
}

.mn-row {
  flex-direction: row;
  display: flex;
}

.mn-column {
  display: flex;
  flex-basis: 100%;
  margin: 3rem;
}

.mn-column1-2 {
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: calc(100% / 2);
}

.grey-bg {
  background-color: rgb(82, 83, 81);
}

.mn-column1-4 {
  flex-direction: column;
  flex-basis: calc(100% / 4);
}

.mn-sub-row > img {
  height: 1.5rem;
  width: auto;
  margin-top: 2rem;
  margin-left: 2rem;
}

.priv-row {
  display: flex;
  flex-direction: row;
}

.priv-column1-5 {
  flex-direction: column;
  flex-basis: calc(100% / 5);
  margin-left: 6rem;
}

.caps {
  text-transform: uppercase;
}

.lh {
  line-height: 1.8rem;
}

.end {
  justify-content: flex-end;
}

.r-text {
  text-align: right;
}

.tiempos {
  font-family: 'Tiempos Headline', serif;
}
